@{
    ViewData["Title"] = "Programacion 1";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
   <div class="alert alert-success" role="alert">
  Programacion Computaciona I
</div>

<div id="Principal">
    <h2>KATIA ORELLANA</h2>
  <img src="https://scontent-gua1-1.xx.fbcdn.net/v/t1.6435-9/104166348_624617211745911_1847381513278115693_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=nvHa8p9NyFEAX9qe-D1&_nc_ht=scontent-gua1-1.xx&oh=938f21caeadd3e5d52c6fb96c8a9e5aa&oe=61AE6ADF" id="Mi foto" width="150"  aling="left">
<br>
    
   



</div>


